#about {
    background-color: white;
    position: relative;

    .container {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        color: black;

        padding-left: 160px;
        padding-top: 80px;
        padding-bottom: 180px;

        .content--left {
            display: block;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                top: 30px;
                left: 80px;
                right: 0;
                bottom: 0;
                // width: 421px;
                max-height: 432px;
                background-color: #FCAD15;
                z-index: -1;
            }

            .image {
                position: relative;
                margin-right: 180px;
                max-width: 387px;
                max-height: 548px;
                z-index: 1;
            }
        }
    }
    .content-title {
        margin-bottom: 90px;
    }
    .text {
        max-width: 600px;

        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        padding-bottom: 20px;
        color: black;
    }
    .title {
        &:after {
            content: 'О бюро';
        }
    }

    
    @media only screen and (max-width: 868px) {
        .content {
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            padding-left: 20px;
            padding-top: 60px;
            padding-bottom: 100px;

            .content--left {
                margin-top: 50px;
            }
        }
    }
}