<div class="container">
    <div class="footer__body">
        <div class="logo">
            <a href="" class="">
                <img src="./images/logo.png" alt="" style="width: 100%; height: 100%; object-fit: contain;">                
            </a>
        </div>
        <nav class="header__menu">
            <ul class="header__list">
                <li>
                    <a href="" class="header__link">О бюро</a>
                </li>
                <li>
                    <a href="" class="header__link">Услуги</a>
                </li>
                <li>
                    <a href="" class="header__link">Преимущества</a>
                </li>
                <li>
                    <a href="" class="header__link">Контакты</a>
                </li>                    
            </ul>
        </nav>
    </div>
</div>
